body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

.face-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.face-box {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
ul,li{
    list-style-type: none;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
li{
    flex-basis: 28%;
    max-width: 200px;
}
.face-image {
    width: 100%;
    border-radius: 4px;
}

.face-label {
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

.face-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.view-region {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-region:hover {
    background-color: #2980b9;
}


.predicted_small_image{
    max-width: 50px;
}